@font-face {
  font-family: "SF Pro";
  src: url("./SF-Pro.ttf");
}
@font-face {
  font-family: "SF Symbols";
  src: url("./SF-Symbols.ttf");
}
:root {
  --colorPrimary: #d8ac3e;
  --surface: rgb(255, 255, 255, 0.05);
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "SF Pro" !important;
}
body {
  background: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  user-select: none;
  display: flex;
  color-scheme: dark;
}
::selection {
  background: rgba(43, 202, 255, 0.2);
}
#sidebar {
  max-height: 100vh;
  min-width: 140px;
  width: 160px;
  border-right: 1px solid rgb(255, 255, 255, 0.1);
  padding: 12px;
  display: inline;
  user-select: none;
  -webkit-app-region: drag;
}
p {
  color: rgb(255, 255, 255, 0.4);
  margin: 4px 0;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 14px;
}
#screen {
  width: 100%;
  max-height: 100vh;
  padding: 20px;
  & input {
    background: transparent;
    width: 100%;
    border: 0;
    font-size: 30px;
    font-weight: 700;
    &:focus {
      border: 0;
      outline: 0;
    }
  }
}
#sidebar2 {
  min-width: 130px;
  width: 250px;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 10px;
  background: rgba(30, 30, 30, 0.7);
}
#sidebar2 button {
  background: var(--surface);
  padding: 6px 12px;
  margin-top: 8px;
  border: 1px solid var(--surface);
  font-weight: 600;
}
#sidebar2 button:hover {
  background: rgb(255, 255, 255, 0.08);
}
#sidebar2 button p {
  margin: 2px 0;
  font-weight: 400;
}
div#notecont {
  max-width: 100%;
  overflow-y: scroll;
  resize: none;
  background: transparent;
  border: 0;
  color: white;
  margin-top: 6px;
  outline: 0;
  height: calc(100vh - 140px);
}
::-webkit-scrollbar {
  display: none;
}
button.tab {
  border-radius: 5px;
  font-size: 16px;
  border: 0;
  text-align: left;
  width: 100%;
  padding: 5px 4px;
  padding-left: 10px;
  margin-top: 4px;
  background: transparent;
  -webkit-app-region: no-drag;
  &:hover {
    background: var(--surface);
  }
  &:active {
    background: rgb(255, 255, 255, 0.08);
    & span {
      scale: 0.9;
    }
  }
  &#selected {
    background: rgb(255, 255, 255, 0.1);
  }
  // Icon
  & span {
    display: inline-block;
    font-family: "SF Symbols" !important;
    font-size: 15px;
    margin-right: 10px;
    color: var(--colorPrimary);
    transition: 0.2s ease-out;
  }
}
#topbar {
  height: 40px;
  background: rgb(255, 255, 255, 0.03);
  padding: 8px;
  width: 100%;
  -webkit-app-region: drag;
}
#topbar button {
  font-family: "SF Symbols" !important;
  background: transparent;
  border: 0;
  font-size: 18px;
  color: gray;
  -webkit-app-region: no-drag;
}
#topbar button:hover {
  opacity: 0.8;
}
#topbar button:active {
  opacity: 0.6;
}
#aiwork {
  height: 45px;
  background: linear-gradient(to right bottom, #60aad147, #ba81a740, #88692c5c);
  box-shadow: 0px 2px 10px 1px #71deff51;
  border: 1px solid #71deff51;
  border-radius: 12px;
  padding: 8px;
  margin: 8px 0;
  color: white;
  display: none;
  animation: aiIntro 0.7s cubic-bezier(0.33, 0.01, 0.3, 1.5),
    aiWork 1s infinite ease-in;
}
#aiwork img {
  height: 100%;
  margin-bottom: -8px;
  margin-right: 10px;
  animation: iconRotate 0.3s infinite;
}
@keyframes aiWork {
  from {
    box-shadow: 0px 2px 10px 1px #71deff51;
    border: 1px solid #71deff51;
  }
  30% {
    box-shadow: 0px 2px 6px 1px #ffbd7151;
    border: 1px solid #ffbd7151;
  }
  50% {
    scale: 1.01;
  }
  60% {
    box-shadow: 0px 2px 10px 1px #ba81a740;
    border: 1px solid #ba81a740;
  }
}
@keyframes aiIntro {
  from {
    opacity: 0;
    scale: 0.95;
    transform: translateX(-10px) translateY(20px);
    height: 40px;
  }
  40% {
    scale: 1.03 1.1;
  }
}
@keyframes iconRotate {
  25% {
    transform: skew(2deg, 2deg);
  }
  75% {
    rotate: -2deg;
  }
}
div#content {
  flex-direction: row;
  width: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(30, 30, 30, 0.8);
  height: 100vh;
}
#sidetoggle {
  color: gray;
  font-family: SF Symbols !important;
  font-size: 20px;
  background: transparent !important;
  border: 0 !important;
  padding: 0 !important;
  font-weight: 100 !important;
  bottom: 0;
  left: 0;
}
